
html{
    font-size: 62.5%; //1rem = 10px
    // overflow-x: hidden;
}

body{
    // @include font-size(30);
    font-size: 1.6rem;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: $gray-1;
}

h1{
    @include rfs(3.2rem);
    text-align: center;
}

h2{
    // @include rfs(4rem);
    // font-weight: 500;
}

h3{
    // @include rfs(2.5rem);
}

// p{
    
// }

a{
    transition: color 0.2s ease;
}

.medium{
    font-weight: 500;
}
.bold{
    font-weight: 700;
}

.indent{

}

.bg-primary{
    background-color: $primary;
}
.bg-gray-1{
    background-color: $gray-1;
}
.bg-gray-2{
    background-color: $gray-2;
}
.bg-gray-3{
    background-color: $gray-3;
}
.bg-gray-4{
    background-color: $gray-4;
}
.bg-dark{
    background-color: $dark;
}
.bg-white{
    background-color: #fff;
}
