html {
  font-size: 62.5%; //1rem = 10px
  // overflow-x: hidden;
}

body {
  // @include font-size(30);
  font-size: 1.4rem;
  overflow-x: hidden;
  color: #fff;
  // font-family: "Roboto", sans-serif;
  background-color: $gray-1;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

h1 {
  @include rfs(3.2rem);
  text-align: center;
  font-weight: 500;
}

h2 {
  // @include rfs(4rem);
  // font-weight: 500;
}

h3 {
  font-size: 1.9rem;
  line-height: 1.5;
}

// p{

// }

a {
  transition: color 0.2s ease;
}

.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

.centered{
  text-align: center;
  display: block;
}
.italic{
  font-style: italic;
}

// $inset-w: calc(50vw-20rem);
.bg-primary {
  background-color: $primary;
}
.bg-gray-1 {
  background-color: $gray-1;
}
.bg-gray-2 {
  background-color: $gray-2;
}
.bg-gray-3 {
  background-color: $gray-3;
}
.bg-gray-4 {
  background-color: $gray-4;
}
.bg-dark {
  background-color: $dark;
}
.bg-white {
  background-color: #fff;
  color: $text-dark;
}

.indent {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 50vw 0 50vw;
  margin-bottom: -60px;
  margin-top: -20px;
  // border-style: inset;
  &--primary {
    border-color: transparent $primary transparent $primary;
  }
  &--gray-1 {
    border-color: transparent $gray-1 transparent $gray-1;
  }
  &--gray-2 {
    border-color: transparent $gray-2 transparent $gray-2;
  }
  &--gray-3 {
    border-color: transparent $gray-3 transparent $gray-3;
  }
  &--gray-4 {
    border-color: transparent $gray-4 transparent $gray-4;
  }
  &--dark {
    border-color: transparent $dark transparent $dark;
  }
  &--white {
    border-color: transparent #fff transparent #fff;
  }
}

.columns{
  columns: 2;
}

.triangle-with-shadow {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #999;
  transform: rotate(45deg); /* Prefixes... */
  top: 75px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.triangle {
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  // background: #bada55;
  box-shadow: 0px -3px 3px 0 rgba(0, 0, 0, 0.4);
}
.triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0em;
  top: 0em;
  left: 0%;
  box-sizing: border-box;

  border-style: solid;
  //   border: 2em solid black;
  border-width: 0 20px 200px 0;
  border-color: transparent #bada55 transparent transparent;

  transform-origin: 0 0;
  transform: rotate(0deg);

  box-shadow: 3px -3px 3px 0 rgba(0, 0, 0, 0.4);
}

// divider

.text-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 1em -1em;
  h1 {
    margin: 0 3rem;
  }
  &::before,
  &::after {
    content: "";
    //   display: flex;
    //   flex-grow: 1;
    width: 30%;
    height: 3px;
    // margin: 0 1em;
    border-radius: 90%;
    background: #fff;
    // filter: blur(1px);
  }
  &::before{
    margin-left: -7%;
  }
  &::after {
    margin-right: -7%;
  }
}
.text-divider--dark{
  &::before,
  &::after {
    background: $dark;
  }
}

.icon-fb-logo{
    background-image: url("../img/icons/fb-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 3rem;
    width: 3rem;
}

.no-margin{
  margin-top: -2rem;
}
.glide__arrow--mod{
  display: block;
  line-height: 1;
  opacity: 1;
  padding: 9px 12px;
  position: absolute;
  background-color: transparent;
  border: 2px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .15s ease,border .3s ease-in-out;
  z-index: 2;
  span{
    transition: 0.3s ease;
  }
  &:hover{
    span{
      background-color: $primary;
    }
  }
}

.chevron{
  height: 17rem;
  width: 3.3rem;
  display: block;
}
.chevron__right{
  // clip-path: polygon(0 0, 100% 60%, 0 100%, 0 85%, 60% 60%, 0 20%);
  clip-path: polygon(0 0, 100% 60%, 0 100%, 0 91%, 75% 60%, 0 11%);
}
.chevron__left{
  clip-path: polygon(100% 11%, 25% 60%, 100% 91%, 100% 100%, 0 60%, 100% 0);
}
