// colors
$primary: #555F29;
$primary-light: #959C77;
$secondary: #4F5159;
$gray-1: #999999;
$gray-2: #4F5159;
$gray-3: #343432;
$gray-4: #242421;
$dark: #1D1D1B;

$navbar-dark-background: $gray-2;
$navbar-dark-background-color: $gray-2;
$navbar-dark-color: rgba(255,255,255, 1);
$navbar-dark-hover-color: rgba(255,255,255, 0.8);
$navbar-dark-disabled-color: rgba(255,255,255, 0.3);
$navbar-dark-active-color: rgba(255,255,255, 1);
